<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <rule name="Imported Rule images">
                    <match url="^(.*)yunimg/([0-9]+)$" />
                    <action type="Rewrite" url="api/img.php\?v={R:2}" appendQueryString="false" />
                </rule>				
                <rule name="Imported Rule vod">
                    <match url="^(.*)yunmp4/([0-9]+)$" />
                    <action type="Rewrite" url="api/index.php\?v={R:2}" appendQueryString="false" />
                </rule>	
                <rule name="Imported Rule mp4">
                    <match url="^(.*)yunmp4/([0-9]+).mp4$" />
                    <action type="Rewrite" url="api/index.php\?v={R:2}" appendQueryString="false" />
                </rule>				
                <rule name="Imported Rule file">
                    <match url="^(.*)yunfile/([0-9]+)$" />
                    <action type="Rewrite" url="api/index.php\?v={R:2}" appendQueryString="false" />
                </rule>					
		        <rule name="Imported Rule share">
                    <match url="^(.*)share/([0-9a-zA-Z]+)$" />
                    <action type="Rewrite" url="share.php\?v=$2" appendQueryString="false" />
                </rule>
				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>